.rebar3
_*
*.beam
*.o
*.plt
*.swp
*.swo
*~
.DS_Store
.rebar/*
.eunit
.erlang.cookie
_build
src/luerl_scan.erl
src/luerl_parse.erl
comp_opts.mk
doc_legacy/epub/*
doc/
ebin/*.beam
log
logs
.idea
*.iml
rebar3.crashdump
erl_crash.dump
