%% -*- mode: erlang; indent-tabs-mode: nil -*-
{erl_opts, [{debug_info, true}]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [luerl]}
]}.

{relx, [{release, {luerl, "1.5.1"},
         [kernel,
          stdlib,
          sasl,
          inets,
          luerl]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]}.

{profiles, [
  {test, [
    {dist_node, [
        {setcookie, 'ct'},
        {sname, 'ct'}
    ]},
    {ct_opts, [{logdir, "logs"}]}
  ]},
  {otp_24, [
    {xrl_opts, []},
    {yrl_opts, []}
  ]},
  {default, [
    {xrl_opts, [{deterministic, true}]},
    {yrl_opts, [{deterministic, true}]}
  ]}
]}.

{project_plugins, [
                   rebar3_hex,
                   {rebar3_ex_doc, "0.2.28"}
                  ]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/rvirding/luerl">>},
    {extras, ["README.md", "CHANGELOG.md", "LICENSE"]},
    {main, "readme"},
    {logo, "priv/images/logo.png"},
    {skip_undefined_reference_warnings_on, ["luerl_parse", "luerl_scan"]},
    {groups_for_modules, [
        {"Core API", [
            luerl,
            %% luerl_old,
            luerl_sandbox
        ]},
        {"Elixir API", [
            'Elixir.Luerl'
            %% 'Elixir.Luerl.Old'
        ]}
    ]}
]}.
