%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [luerl]}
]}.

{profiles, [
  {test, [
    {dist_node, [
        {setcookie, 'ct'},
        {sname, 'ct'}
    ]},
    {ct_opts, [{logdir, "logs"}]}
  ]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/rvirding/luerl">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
