%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [luerl]}
]}.

{relx, [{release, {luerl, "1.1.1"},
         [kernel,
          stdlib,
          sasl,
          inets,
          luerl]},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]}.

{profiles, [
  {test, [
    {dist_node, [
        {setcookie, 'ct'},
        {sname, 'ct'}
    ]},
    {ct_opts, [{logdir, "logs"}]}
  ]}
]}.