name: Test

on:
  workflow_dispatch:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize
  schedule:
  - cron: "0 0 * * 0"

jobs:

  older-builds:
    name: Older Erlang/OTP ${{matrix.otp}}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        otp: ['23']
        rebar3: ['3.14.1', '3.14.3']
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          rebar3-version: ${{matrix.rebar3}}
      - run: rebar3 do eunit, ct --cover, cover

  newer-builds:
    name: Newer Erlang/OTP ${{matrix.otp}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ['24', '25', '26']
        rebar3: ['3.22']
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          rebar3-version: ${{matrix.rebar3}}
      - run: rebar3 do eunit, ct --cover, cover
